html body {
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    padding: 20px;
}

#record-button {
    background-color: limegreen;
    color: white;
    margin: 0 0 10px 0;
    border: none;
    border-radius: 10px;
    padding: 5px 30px;
    white-space: nowrap;
    font-size: 20px;
}

#record-button:hover {
    cursor: pointer;
}

#dashboard-button {
    color: blue;
    text-align: center;
}

#dashboard-button:hover {
    cursor: pointer;
}