html {
    width: 100%;
    height: 100%;
}

body {
    height: 85%;
}

.base-area {
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 15px;
    height: 100%;
}

.editor-menu {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 20px;
}

.editor-button {
    width: 40px;
    height: 40px;
    padding: 20px;
    border: 1px gray solid;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0 15px 0 0;
}

.editor-button:hover {
    cursor: pointer;
}

.editor-button > img {
    width: 20px;
    height: 20px;
}

